= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |message|
          %li= message

  .field
    = f.collection_select :genre_ids, Genre.all, :id, :genre
  .field
    = f.label :title, "内容"
    = f.text_field :title
  .field
    = f.label :date, "日時"
    = f.date_field :date
  .field
    = f.label :amount, "金額"
    = f.number_field :amount
  .actions
    = f.submit '記録'
