%p#notice= notice

%p
  %b Title:
  = @event.title
%p
  %b genre:
  = @event.genres&.first&.genre
%p
  %b Date:
  = @event.date
%p
  %b Amount:
  = @event.amount

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', root_path
