%p#notice= notice

%p
  %b Title:
  = @event.title
%p
  %b genre:
  = @event.genres&.first&.genre
%p
  %b Date:
  = @event.date
%p
  %b Amount:
  - if @event.genres&.first&.id == 1
    = @event.income.amount
  - else
    = @event.expense.amount
- if @event.genres&.first&.id == 1
  = link_to 'Edit', edit_income_path(@event.income)
- else
  = link_to 'Edit', edit_expense_path(@event.expense)
\|
= link_to 'Back', root_path
\|
- if @event.genres&.first&.id == 1
  = link_to 'Destroy', @event.income, method: :delete, data: { confirm: 'Are you sure?' }
- else
  = link_to 'Destroy', @event.expense, method: :delete, data: { confirm: 'Are you sure?' }